@charset "UTF-8";

/* 블록요소의 width는 부모태그(기본화면)의 100%이다. 
height는 컨텐츠 크기 만큼. 높이는 padding으로 정하기*/

html{
		
}
body{
	box-sizing: border-box;
	display:flex;
	margin: 0;
}

.header{
	
	align-items:center;
	justify-content:center;
	color: white;
	background-color: orange;
}


ul{
	list-style: none;
	background-color: brown;
	margin: 0;
	overflow : hidden;	
	/* float 속성을 지정했을 때 필요합니다. */
}

/* ul태그의 자손 */

.nav a{
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	color:white;
}

.nav li{
	float: left;
	/* float: 을 지정하면 부모 태그 ul의 노이가 0됩니다.
	ul 태그 overflow를 설정하기 */
}

.section{
	padding: 20px;
	background-color: azure;
	/* 컨텐츠 내용만큼 높이만 지정되는 것을 
		최소 높이 지정하여 바꾸기 */
	min-height: 400px
}

.footer{
	
	justify-content:center;
	align-content:center;
	padding: 20px;
	background-color: cornflowerblue;
	color : white;
	font-size: 80%;
	text-align: center;
}

h2{
	text-align: center;
}